/**
 * ravhaim.org
 */

hr {
    margin: 0;
}

.navbar-default {
    background-image: url(../image/navbar.png);
    background-size: 100% 100%;
}

.navbar-nav li:hover, .navbar-nav li.active a {
    background-color: white !important;
    opacity: 0.7;
}

#site-navigate span:before {
    content: "\00a0\2022\00a0\00a0";
}

#site-navigate span:first-child:before {
    content: none;
}

@font-face {
    font-family: banner;
    src: (../fonts/HadasimCLM-Bold.eof);
    src: url(../fonts/HadasimCLM-Bold.woff) format("woff"),
         url(../fonts/HadasimCLM-Bold.ttf) format("truetype");
}

#site-banner {
    font-family: banner;
    font-size: 200%;
    margin-right: 5%;
    margin-top: 1%;
    position: absolute;
    height: 100px;
}

@media (max-width: 520px ) {
    #site-banner {
        font-size: 150%;
    }
}

@media (max-width: 350px) {
    #site-banner {
        font-size: 90%;
    }
}

/*#site-home {
    background-image: url( ../image/kislev.png );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 80%;
}*/

#site-home-section-title {
    text-shadow: 1px 1px #eee;
    font-weight: bold;
}

.site-btn-shiur a {
    width: 182px;
    margin-top: 4px;
}

.site-btn-shiur * {
    color: #19198D;
    text-shadow: 1px 1px #eee;
}

.site-btn-shiur *:hover * {
    color: #333;
    text-shadow: 1px 1px #eee;
}

#site-player-od-poster {
    position: relative;
    width: 640px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #aaa;
    padding: 0;
}

#site-player-od-play {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color:#333;
    text-shadow:1px 1px black;
    font-size: 800%;
    line-height: 360px;
    opacity: 0.2;
}

#site-player-od-play:hover {
    color:#444;
    text-shadow:1px 1px #fff;
    background: #eee;
}

@media (max-width: 675px ) {
    #site-player-od-poster {
        width: 480px;
        height: 270px;
    }
    #site-player-od-play {
        line-height: 270px;
    }
}

@media (max-width: 515px ) {
    #site-player-od-poster {
        width: 360px;
        height: 200px;
    }
    #site-player-od-play {
        line-height: 200px;
    }
}

@media (max-width: 390px ) {
    #site-player-od-poster {
        width: 270px;
        height: 150px;
    }
    #site-player-od-play {
        line-height: 150px;
    }
}

.site-player-od-media  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#site-player-live-outer h5, #site-player-live-outer h3 {
    border-radius: 3px;
}

