*
{
	vertical-align: top;
}

body
{
    direction: rtl;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial, sans-serif;
    font-size: 15px;
    color: black;
}

h1
{
    margin: 0;
	font-size: 22px;
	color: #373737;
	text-shadow: 0px 0px 3px #9595ff;
	font-weight: 100;
}

h2
{
    margin: 0;
	font-size: 17px;
	color: #373737;
	text-shadow: 0px 0px 2px #95aa95;
	font-weight: 600;
}

table
{
    border-collapse: collapse;
}

a
{
    color: blue;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

i
{
    font-size: 11px;
}

a:visited
{
    color: blue;
}

img
{
	border: 0;
}

iframe
{
    border: none;
}


.button
{
	background: url(png/050006);
	width: 70px;
	height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px #505050 solid;
	border-radius: 8px;
	font-size: 16px;
	color:#666;
    font-weight: 700;
	line-height:50px;
	text-shadow: 1px 1px 0px #f9f9f9;
	box-shadow: 0px 0px 1px 2px rgba(200,200,200,0.6);
	background: #b5b5b5;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc), color-stop(50%,#c9c9c9), color-stop(50%,#b5b5b5), color-stop(100%,#909090));
	background: -moz-linear-gradient(top,#fcfcfc,#909090);
	background-image: -o-linear-gradient(#fcfcfc,#909090);
	cursor: pointer;
}

.button:hover
{
	background: #a0a0a0;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dddddd), color-stop(50%,#c0c0c0), color-stop(50%,#b0b0b0), color-stop(100%,#858585));
	background: -moz-linear-gradient(top,#dddddd,#858585);
	background-image: -o-linear-gradient(#dddddd,#858585);
    text-decoration: none;
	box-shadowx: -2px -2px 6px rgba(100,100,100,0.8);
	color: #222;
}

.button:active
{
    background: #454545;
    -webkit-box-shadow: inset 0 0 20px 0 #222, 0 1px 0 white;
}

.button:visited
{
    color: #666;
}

#sendmessage
{
	background: url(png/050006.png);
	width: 70px;
	height: 25px;
	border: 1px #505050 solid;
	border-radius: 4px;
}

#sendmessage:hover
{
	background: url(png/050007.png);
    text-decoration: none;
	box-shadowx: -2px -2px 6px rgba(100,100,100,0.8);
}

#sendmessage:active
{
	background: url(png/050008.png);
}

#sendemail
{
	background: url(png/050009.png);
	width: 266px;
	height: 25px;
	border: 1px #505050 solid;
	border-radius: 4px;
}

#sendemail:hover
{
	background: url(png/050010.png);
    text-decoration: none;
	box-shadowx: -2px -2px 6px rgba(100,100,100,0.8);
}

#sendemail:active
{
	background: url(png/050011.png);
}

div.main-content
{
    position: relative;
    margin-right: 20px;
	margin-top: 10px;
	width: 620px;
}

#secion-play
{
    position: relative;
    margin-right: 5px;
	width: 640px;
}

#title
{
    width: 800px;
	height: 100px;
    background: url(png/050001.png) no-repeat;
    box-shadow: 0px 7px 10px rgba(100,100,100,0.4);
}

#main
{
    width: 800px;
	text-align: right;
}

#menu
{
    background: url(png/050002.png) repeat-y;
    width: 150px;
    border-left: 1px solid #b0b0b0;
    box-shadow: -2px 0px 10px rgba(100,100,100,0.6);
	font-size: 16px;
}

#menu a
{
    position: relative;
    width: 140px;
    height: 35px;
    display: block;
    border-bottom: 1px #c0c0c0 solid;
    border-top: 1px white solid;
    box-shadowx: 0px 1px white;
    margin-right: 3px;
	padding-top:1em;
	color: white;
	text-shadowx: 1px 1px white;
    letter-spacing: 1px;
    line-height: 1em;
    cursor: pointer;
}

#menu a:first-child
{
    border-top: none;
}

#menu a:last-child, #menu a:last-child:hover
{
    border-bottom: none;
    cursor: default;
	background: none;
}

#menu a:hover
{
	background-color: #fff0e5;
	text-decoration: none;
}

#menu .shadow div /* for shadow */
{
    margin-top: -1em;
}

#container
{
    xbackground: url(png/050003.png) bottom left no-repeat;
	width: 650px;
}

#like
{
    border: none;
    width:90px;
    height:20px;
}

#footer
{
    font-size: 12px;
    color: #606060;
    text-align: center;
}

#navigate
{
    width: 800px;
	margin-top: 20px;
	text-align: center;
}

#navigate a
{
    color: #565656;
}

#navigate span:before
{
    content: "\00a0\2022\00a0\00a0";
}

#navigate span:first-child:before
{
    content: none;
}

#error
{
    position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#error-shade
{
    position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #f0f0f0;
	opacity: 0.7;
	z-index: 1000;
}

#error-message
{
	position: absolute;
	top: 50%;
	right: 50%;
	width: 400px;
	height: 200px;
	margin-right: -200px;
	margin-top: -100px;
	background: white;
	border: 3px rgba( 30, 30, 255, 0.3 ) solid;
	border-radius: 30px;
	text-align: center;
	font-size: 23px;
	line-height: 2;
	z-index: 1001;
}

#error-continue
{
	font-size: 18px;
}

#success
{
    position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	font-size: 100px;
	font-weight: bold;
	color: green;
	background: white;
	text-align: center;
	background-image: url(png/240.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
}

#success div{
	width: 70%;
	margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

#section-about
{
	color: #333333;
	text-align: justify;
	line-height: 1.5;
}

#map
{
	width: 302px;
	padding-left: 20px;
}

#map iframe
{
	border: 1px #dddddd solid;
	box-shadow: 2px 2px rgba( 0, 0, 0, 0.2 );
}

#zmanim
{
	width: 302px;
	margin-right: 25px;
}

#zmanim iframe
{
	border: 1px #dddddd solid;
	box-shadow: 2px 2px rgba( 0, 0, 0, 0.2 );
}

#sendbox
{
    position: relative;
    width: 420px;
	margin-right: auto;
	margin-left: auto;
	box-shadowx: 0px 0px 1px 2px rgba(200,200,200,0.6);
}

#message
{
    overflow: auto;
    width: 400px;
	height: 250px;
	display: block;
	border-style: solid;
    border-width: 1px;
	border-radius: 8px;
    border-top-color: #626258;
    border-left-color: #626258;
    border-bottom-color: #F7F7E3;
    border-right-color: #F7F7E3;
	font-family: arial;
	letter-spacing: 1px;
	line-spacing: 1.2;
	font-size: 16px;
	color: #3d3d3d;
	padding-left: 8px;
	padding-right: 8px;
	background: #F8F8E6;
	background-repeat: no-repeat;
	background-position: center center;
}

#sendmessage
{
    font-size: 16px;
}

#sending
{
	display: none;
    position: absolute;
    font-size: 200px;
	font-weight: 700;
	color: #626258;
	opacity: 0.3;
	top: 0;
	left: 0;
}

#section-register
{
	background-repeat: no-repeat;
	background-position: center center;
}

#email
{
	border: none;
	border-style: solid;
    border-width: 1px;
	border-radius: 3px;
    border-top-color: #626258;
    border-left-color: #626258;
    border-bottom-color: #F7F7E3;
    border-right-color: #F7F7E3;
	width: 300px;
	font-family: arial;
	letter-spacing: 1px;
	font-size: 16px;
	color: #3d3d3d;
	padding-left: 8px;
	padding-right: 8px;
	background: #F8F8E6;
}

.catalog
{
	color: #333333;
	text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.catalog td
{
    width: 135px;
}

.catalog a:hover img
{
    box-shadow: 0px 0px 15px black;
	outline: 2px #b8b8b8 solid;
}

#index-title
{
    margin-top: 20px;
	xmargin-bottom: 35px;
    text-align: center;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0px;
}

#live
{
    position: relative;
	background: url(png/splash.png) no-repeat;
    width: 426px;
	height: 240px;
}

#live-player
{
    display: none;
}

#info-player
{
    display: none;
}

#info-wrap
{
    display: none;
	vertical-align:middle;
}

#info
{
	position: absolute;
	top: 0;
	text-align: center;
    width: 426px;
	height: 240px;
    color: #fff;
	font-weight: bold;
	font-size: 21px;
}

#info-shadow
{
	position: absolute;
	top: -1px;
	right: 1px;
	text-align: center;
    width: 426px;
	height: 240px;
    color: #000;
	font-weight: bold;
	font-size: 21px;
}

#flash-warn
{
    display: none;
	color: #808080;
	font-size: 10px;
}

#shiurim-list
{
    margin-right: 50px;
    line-height: 1.1;
}

.shiur-single
{
    margin-top:15px;
    margin-bottom: 15px;
}

.shiur-name
{
    font-size: 17px;
    font-weight: bold;
    color: #19198D;
}

.shiur-date
{
    font-size: 11px;
    font-weight: 100;
    color: #333399;
}

.shiur-duration
{
    color: #555555;
}

.shiur-single img
{
    margin-left: 10px;
}

.library-item td
{
    width: 180px;
	height: 60px;
}

.library-item td img
{
    margin-left: 10px;
}

#no-flash
{
    display: none;
    text-align: center;
	color: white;
	font-size: 17px;
	font-weight: bold;
}

#old-flash
{
    display: none;
    display: none;
    text-align: center;
	color: white;
	font-size: 17px;
	font-weight: bold;
}

#ios-device
{
    display: none;
    display: none;
    text-align: center;
	color: white;
	font-size: 17px;
	font-weight: bold;
}

#rav
{
    font-size: 25px;
}

#updates
{
    margin-top: 15px;
    font-size: 14px;
	color: #303030;
	text-align: right;
}

#updates li
{
    margin-top: 5px;
	margin-bottom: 5px;
}